{% extends "layouts/base.html" %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}
    <main>
      <div class="container" style="background-color: red;" >
        <div class="row">
          <div class="col-sm-12 col-md-2 col-lg-3 col-xl-4" style="background-color: rgb(93, 71, 160);">
            <h1>hola</h1>
          </div>

          <div class="col-sm-12 col-md-2 col-lg-3 col-xl-4" style="background-color: rgb(199, 117, 117);">
            <h1>hola</h1>
          </div>

          <div class="col-sm-12 col-md-2 col-lg-3 col-xl-4" style="background-color: rgb(209, 169, 169);">
            <h1>hola</h1>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
